---
import Default from "../../layouts/Default.astro";
---
<Default title="HTML editor">
<h1>HTML editor</h1>
<div class="grid-md">
<div>
<textarea id="editor"></textarea>
</div>
<div>
<iframe id="output"></iframe>
</div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
    const editorFrame = document.getElementById('editor') as HTMLTextAreaElement
    const outputFrame = document.getElementById('output') as HTMLIFrameElement
    editorFrame.addEventListener('keyup', function() {
        outputFrame.srcdoc = editorFrame.value
    })
})
</script>
</Default>