---
import Default from "../../layouts/Default.astro";
import Card from "../../components/Card.astro";
---
<Default title="Useful Tools">
<h1>Useful Tools</h1>
<div class="grid-md">

<Card title="Leaflet maps" link="/tools/leaflet-map"}>A simple map that uses the Leaflet library and many other components that it uses!</Card>
<Card title="Markdown editor" link="/tools/md-editor">A simple markdown editor that uses the Marked.JS library and many other components that it uses!</Card>
<Card title="HTML editor" link="/tools/html-editor">A simple HTML editor that only uses plain javaScript to work without any components or packages!</Card>
<Card title="Random Name Generator" link="/tools/name-generator">A simple name generator that uses the uniqueNamesGenerator package!</Card>

</div>
</Default>