---
import Default from "../../layouts/Default.astro";
import Card from "../../components/Card.astro";
---
<Default title="Useful Tools">
<h1>Useful Tools</h1>
<div class="grid-md">

<div>
<Card title="Leaflet maps">
<a href="/tools/leaflet-map" class="btn">Take me there!</a>
</Card>
</div>
<div>
<Card title="Markdown editor">
<a href="/tools/md-editor" class="btn">Take me there!</a>
</Card>
</div>
<div>
<Card title="HTML editor">
<a href="/tools/html-editor" class="btn">Take me there!</a>
</Card>
</div>

</div>
</Default>