body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    background-color: #3609a8;
    border: 3px solid white;
    color: #B3B8CD;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container img {
    border-radius: 50%;
    padding: 7px;
    height: 100px;
    width: 100px;
}

#particles-js {  
    width: 100%; 
    height: 100%; 
} 

canvas {
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}

.pro {
    color: #FFFFFF;
    background-color: #040292;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    text-align: center;
}

.about {
    margin-bottom: 0px;
}


h2 {
    margin: 10px 0;
}
  
h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
  }

p.button {
    background-color: indigo;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
}

p.button:hover {
    background-color: rgb(126, 9, 210);
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
}

p.button:focus {
    background-color: rgb(86, 33, 123);
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.locat {
    color: #FFFFFF;
    background-color: #040292;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    text-align: center;
}
