@import "tailwindcss";

@theme {
    ---primary: var(--color-blue-500);
    ---primary-hover: var(--color-blue-600);
}

@layer base {
    body {
        display: flex;
        height: 100vh;
        background-color: var(--color-white);
        color: var(--color-black);
    }
    main {
        padding-left: 0.45em;
        padding-right: 0.45em;
        margin-top: 0.45em;
        margin-bottom: 0.45em;
        flex-grow: 1;
    }
    a {
        color: var(---primary);
        text-decoration: none;
        transition: all .3s;
        &:hover {
            color: var(---primary-hover);
            text-decoration: overline;
        }
    }
    h1 {
        font-size: var(--text-2xl);
        font-weight: var(--font-weight-bold);
    }
    h2 {
        font-size: var(--text-xl);
    }
    h3 {
        font-size: var(--text-xs);
    }
    h4 {
        font-size: var(--text-lg);
    }
    h5 {
        font-size: var(--text-sm);
    }
    p {
        font-size: var(--text-base);
    }
    h1,h2,h3,h4,h5,p {
        margin-bottom: 0.20em;
    }
}