---
import Default from "../layouts/Default.astro";
---
<Default title="Home">
<h1>This page was left intentionally blank by it's owner!</h1>
<p>Might add something here soon. Thanks for stopping by, I guess.</p>
</Default>