---
interface Props {
    title: string | null
    link: string | null
}
const {title, link} = Astro.props
---
<div class="card">
<div class="body">
{title ?
<h1 class="mb-0 title">{link ? <a href={link}>{title}</a> : title}</h1>
<slot />
:
<slot />
}
</div>
</div>