---
interface Props {
    title: string | null;
    link: string | null
}

const { title, link } = Astro.props;
---
{(link !== null) ?
<a href={link} class="card-link">
<div class="card">
<div class="body">
{(title !== null) &&
<h1 class="mb-0">{title}</h1>
}
<slot />
</div>
</div>
</a>
:
<div class="card">
<div class="body">
{(title !== null) &&
<h1 class="mb-0">{title}</h1>
}
<slot />
</div>
</div>
}